/*<!-- Enter your JS code here -->*/

*{
    margin:0;
    padding:0;
  }
  
  
  body{
    background-color: black;
    color:rgb(12, 11, 11);
  
  }
  
   
  
  h1{
    color:white;
    margin-left: 35%;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    display: inline-block;
    margin-top:15px;
    text-align:center;
    box-sizing: border-box;
    border:1px solid rgb(189, 181, 181);

    
    
  }
  .search-bar
  {
    color:white;
    background-color:black;
    margin-left: 15px;
    border-bottom: 1px solid white;
    grid-template-rows: auto;
    
    
  
  }
  #search{
    background-color: black;
    color:white;
    outline: none;
  }
    input[type=text] {
      border: none;
      padding: 12px 20px;
      width: 100%;
    }
    
  
  
  .container
  {
    max-width: 350px;
    height: 560px;
    border: black 10px solid;
    padding: 35px;
    background-color:rgb(32, 31, 31);
    margin-bottom: 20px;
    border-radius: 18px;
    padding-right: 30px;
    margin-left: 18px;
    
  }

    #news-articles {
      margin-left: 2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .not-found {
      color: var(--font-color);
      font-family: sans-serif;
      font-size: 25px;
      margin-left: -20px;
      list-style-type: none;
    }
    .load {
      color: var(--font-color);
      font-family: sans-serif;
      font-size: 25px;
      margin-left: 25px;
    }
    .article {
      list-style-type: none;
      display: inline-block;
      margin-left: -14px;
    }
    .container:hover{
      box-shadow: 0 0 2px 2px;
      display:table-cell;
    }
  #news-articles{
  
    display: grid;
  
    grid-template-columns: repeat(4,1fr);
  }
  .container{
    color:rgb(56, 54, 54);
  display: grid;
  display: table-cell;
  margin-top: 20px;
      padding-left:20px;
      padding-right: 20px;

  }
  .article {
  list-style-type: none;
  display: inline;
}

.container:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 0 5px var(--box-shadow);
          box-shadow: 0 0 5px var(--box-shadow);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img_area {
  width: 265px;
  height: 250px;
  background-color: black;
}

.article-img {
  margin-top: 20px;
  width: 265px;
  height: 205px;
  background-color: black;
}

.article-title {
  background: none;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-description {
  font-size: 25px;
  color: white;
  background: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: sans-serif;
}

.article-author {
  background: none;
  font-size: 25px;
  font-family: Trebuchet MS;
  color: blue;
  display: block;
  text-align: right;
}

.article-link {
  color: white;
  text-decoration: none;
}

.not-found {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 25px;
  list-style-type: none;
}

.load {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 25px;
}
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 4px 0 rgba(71, 70, 70, 0.2); /* this adds the "card" effect */
      padding: 16px;
      text-align: center;
      background-color:rgb(48, 45, 45);
      margin: 10px;
      
    }
    
    /* Responsive columns - one column layout (vertical) on small screens */
    @media screen and (max-width: 500px) {
      .column {
        width: 150%;
        display: block;
        /*margin-bottom: 20px;*/
      }
    }  
